<div class="navbar">
    <img class="logo-img" id="miku-qq" src="{{ url_for('static', filename='images/MIKU_LOGO.webp') }}" />
    <div class="navbar-right" id="navbarRight">
        <span class="closebtn">&times;</span>
        <a href="{{ url_for('home') }}">Home</a>
        <!-- Dropdown for News -->
        <div class="dropdown">
            <a class="dropbtn" id="dropBtn">Annual Net Usage Statistics</a>
            <div class="dropdown-content">
                <a href="https://aws.amazon.com/about-aws/?nc2=h_header">About Us</a>
                <a href="https://www.ntu.edu.sg/main/cn">Find Us</a>
            </div>
        </div>
        <a href="{{ url_for('login') }}">Login</a>
    </div>
</div>